@{
    ViewData["Title"] = "Página Folha de Pagamento";
}
@model List<FolhaPagModel>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="AcessoUsuario" asp-action="Index">Personal Dynamic RH & DP</a> <!--Nome do cabeçalho-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Início</a> <!--Referente a página de inicio-->
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Ponto" asp-action="Index">Apontamento</a> <!--Referente a página de inicio-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="PagSalario" asp-action="Salario">Salário</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="FolhaPag" asp-action="FolhaPagamento">Folha de Pagamento</a>
                    </li>
                    <!-- <li class="nav-item">
                         <a class="nav-link" asp-controller="PagHolerite" asp-action="Holerite">Holerite</a>
                    </li>-->
                    <!--<li class="nav-item">
                        <a class="nav-link" asp-controller="Faltas" asp-action="Falta">Faltas</a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Ferias" asp-action="Ferias">Férias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" tabindex="-1" aria-disabled="true" asp-controller="Login" asp-action="Index">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="text-center">
    <h1 class="display-5">Sua Folha de Pagamento</h1>
    <!--aqui será possivel visualizar ou baixar um pdf com as informações-->
</div>
<table class="table table-bordered">
    <caption>Folha de pagamento</caption>
    @foreach (var folha in Model){
    <tr>
        <th scope="col" colspan="1">EMPRESA</th>
        <th scope="col">CNPJ</th>
        <th scope="col">FOLHA</th>
    </tr>
    <tr>
        <td>@folha.Id_empresas</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th scope="col">Registo</th>
        <th scope="col">Empregado</th>
        <th scope="col">Função</th>
    </tr>
    <tr>
        <td>@folha.Id_funcionarios</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th scope="col">Banco</th>
        <th scope="col">Conta corrente</th>
        <th scope="col">Salário</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>@folha.Salario_base</td>
    </tr>
    <tr>
            <th scope="col">CONTA</th>
            <th scope="col">VENCIMENTO</th>
            <th scope="col">DESCONTO</th>
            <th scope="col">INSS</th>
    </tr>
    <tr>
        <td>0000</td>
        <td>encimentos</td>
        <td>Descontos</td>
        <td>Inss</td>
    </tr>
    <tr>
        <th colspan="1"></th>
        <th>TOTAIS</th>
        <th>Liquído</th>
    </tr>
    <tr>
        <td>@folha.Salario_base</td>
        <td>@folha.Salario_liquido</td>
    </tr>
   }
    <thead>
        <tr>
            <th colspan="3">Assinatura: _______________________________________________________________</th>
            <th colspan="1">Data:__/__/_____</th>
        </tr>
    </thead>
</table>

<!-- <caption>Folha de pagamento</caption>
    <thead>
        <tr>
            
            <th scope="col" colspan="1">EMPRESA</th> 
            <th scope="col">CNPJ</th>
            <th scope="col">FOLHA</th>
        </tr>
    </thead>
    <tbody>
        foreach(var folha in Model)
        {
            <tr>
                <td>folha.Id_empresas</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Nome</td>
                <td>folha.Id_funcionarios</td>
                <td>1234567891-11</td>
                <td></td>
                <td>1</td>
                <td></td>
            </tr>
        <thead>
            <tr>
                <th scope="col">Registo</th>
                <th scope="col">Empregado</th>
                <th scope="col">Função</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>N registro</td>
                <td>Nome do empregado</td>
                <td>Função funcionário</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col">Banco</th>
                <th scope="col">Conta corrente</th>
                <th scope="col">Salário</th>
                <td></td>
                <th scope="col">Referência</th>
                <td></td>
            </tr>
            <tr>
                <td>000 0000</td>
                <td>00000-0</td>
                <td>R$/Mês</td>
                <td></td>
                <td>00/0000</td>
                <td></td>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col">CÓD</th>
                <th scope="col">CONTA</th>
                <th scope="col">QUANTIDADE</th>
                <th scope="col">VENCIMENTO</th>
                <th scope="col">DESCONTO</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">001</th> 
                <td>INSS</td>
                <td>255,65</td>
                <td>154,25</td>
                <td>185,54</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        <thead>
            <tr>
                <th colspan="1"></th>
                <th>TOTAIS</th>
                <th>Liquído</th>
                <th>Vencimentos</th>
                <th>Descontos</th>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>R$</td>
                <td>R$</td>
                <td>R$</td>
                <td></td>
            </tr>
        </thead>
        <thead>
            <tr>
                <th colspan="3">Assinatura: _____________________________________________________</th>
                <th></th>
                <td></td>
                <th colspan="1">Data:__/__/_____</th>
                <td></td>
                <td></td>
            </tr>
        </thead>
   </tbody> -->